* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  max-height: 100vh;
}

.container {
  padding: 96px 0px;
}

nav {
  padding-top: 32px;
  display: flex;
}

.nav__row {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo__wrapper {
  display: flex;
  align-items: center;
}

.logo {
  width: 40%;
  height: 40px;
}

.logo__text {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 0 12px;
  padding: 0 0 2px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.nav__link-login {
  color: #243e63;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  margin: 0 24px 48px;
  padding: 4px;
  border-bottom: 2px solid transparent;
  position: relative;
  transition: all 300ms;
}

.nav__link-login:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 100%;
  background: #6415ff;
  transition: all 300ms ease;
  opacity: 0;
}
.nav__link-login:hover:after {
  opacity: 1;
}

.nav__link {
  color: #243e63;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  margin: 0 24px;
  padding-top: 4px 0px;
  border-bottom: 2px solid transparent;
  position: relative;
  transition: all 300ms;
}

.nav__link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 100%;
  background: #6415ff;
  transition: all 300ms ease;
  opacity: 0;
}
.nav__link:hover:after {
  opacity: 1;
}

.nav__link-btn {
  margin: 0;
  background-color: #6415ff;
  color: #fff;
  font-weight: 700;
  margin-top: 2px;
  padding: 12px 28px;
  line-height: 1.5;
  text-decoration: none;
  border: none;
  border-radius: 32px;
  transition: 300ms ease;
}

.nav__link-btn:hover {
  background-color: rgba(80, 17, 204);
}

.nav__link-btn:after {
  content: "";
  width: 0;
  height: 0;
}

/*
HEAD
*/

h1 {
  font-size: 48px;
  color: #1a202c;
  line-height: 1.25;
}

.purple {
  color: #6415ff;
}

.header__row {
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
}

.header__info {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.header__para {
  color: #243e63;
  font-size: 18px;
  line-height: 1.5;
  margin: 32px 0;
}

.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.email__btn {
  z-index: 2;
  margin: 8px;
  padding: 16px 32px;
  height: calc(100% -16px);
  border-radius: 500px;
  width: 160px;
  border: none;
  background-color: #6415ff;
  color: white;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  transition: 300ms ease;
}

.email__btn:hover {
  background-color: rgba(80, 17, 204);
}

.email__input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgba(160, 174, 192);
  padding: 20px 192px 20px 32px;
  color: rgb(36, 62, 99);
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: border 300ms;
}

.email__input:hover {
  border-color: rgb(158, 170, 189);
}

.email__input::placeholder {
  font-weight: 500;
  color: rgb(158, 170, 189);
}

.email__input:focus,
.email__input:active {
  outline: none;
  border-color: rgba(100, 21, 255);
}

.strip__text {
  margin-top: 80px;
  color: #a0aec0;
  font-size: 12px;
  font-weight: 700;
  margin: 80px 0px 0px;
  letter-spacing: 0.6;
}

.logo__pic {
  margin-top: 16px;
  padding: 0px 128px 0px 0px;
  opacity: 0.5;
}

.right__pic-wrapper {
  width: calc(100% -40%);
}

.right__pic {
  width: 100%;
  max-width: 768px;
}

/*

Features

*/

#features, #quality {
  margin: 0 32px;
}

.feature__row--title {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.section__tag {
  font-size: 16px;
  color: #6415ff;
  font-weight: 700;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.section__title {
  width: 100%;
  font-size: 48px;
  font-weight: 800;
  color: rgb(36, 62, 99);
  letter-spacing: 0.5;
  margin: 16px 0;
}
.section__title--main {
  width: 100%;
  font-size: 48px;
  font-weight: 800;
  color: rgb(36, 62, 99);
  text-align: center;
  margin: 16px 0;
}
.feature__para--top {
  max-width: 732px;
  font-size: 18px;
  font-weight: 400;
  color: #7c8ba1;
  text-align: center;
  padding: 0 18px;
  line-height: 1.65;
  letter-spacing: 0.25;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.feature {
  width: calc(100% / 3);
}

.feature__row {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: flex-start;
  padding: 32px 24px;
  margin: 0 auto;
}



.feature__title {
  font-size: 24px;
  color: #243e63;
}

.feature__para {
  max-width: calc(634px / 3);
  font-size: 16px;
  font-weight: 500;
  color: rgb(124, 139, 161);
  line-height: 2;
  margin: 16px 0px 0px;
}

.feature__pic--wrapper {
  display: flex;
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 500px;
}
.feature__pic {
  width: 24px;
  height: 24px;
}

.feature__info {
  margin-top: 8px;
  margin-left: 16px;
}

/* 

QUALITY

*/

#quality {
  padding: 0 32px;
}

.quality__row {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.quality__info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.quality__para {
  padding-right: 64px;
  font-size: 18px;
  color: #7c8ba1;
  line-height: 1.625;
}

.btn {
  max-width: 140px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #6415ff;
  margin: 32px 12px 0 0;
  padding: 12px;
  cursor: pointer;
  border: none;
  border-radius: 64px;
  transition: all 300ms ease;
}

.btn:hover {
  background-color: rgba(80, 17, 204);
}

.quality__img--wrapper {
  width: 50%;
  border-radius: 4px;
  border: 2px solid rgb(229, 231, 235);
  position: relative;
  z-index: 2;
}

.quality__img {
  width: 100%;
  z-index: 1;
}

.quality__grid {
  transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  fill: rgb(100, 21, 255);
  --tw-text-opacity: 1;
  color: rgba(100, 21, 255, var(--tw-text-opacity));
  z-index: 0;
  display: block;
}

/*

STEPS
*/
section#steps {
  margin: 0 32px;
}


.step__row {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.steps__img--wrapper {
  width: 50%;
  display: flex;
  position: relative;
}

.steps__img {
  width: 100%;
  max-width: 628px;
  z-index: 2;
}

.steps__grid {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem;
  height: 10rem;
  opacity: 0.8;
  z-index: -10;
  color: rgb(100, 21, 255); 
  fill: currentColor;
}

.step {
display: flex;
align-items: flex-start;
margin-top: 32px;
}

.steps__info {
  margin-left: 24px;
  max-width: 320px;
  display: flex;
  flex-direction: column;
 
}

.steps__title {
  font-size: 20px;
  font-weight: 600;
  color: #243e63;
}

.steps__para {
  font-size: 14px;
  font-weight: 500;
  color: #718096;
  margin: 12px 0 0;
  line-height: 2;
}

.number {
  font-size: 36px;
  font-weight: 600;
  color: #cbd5e0;
  line-height: 1;
}

/*

VALUES

*/

.value__row {
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
}

.values__img {
  width: 50%;
}

.values__info {
  width: 50%;
  padding-right: 42px;
}

.section__para {
  font-size: 18px;
  font-weight: 600;
  color: #7c8ba1;
  line-height: 1.625;
}

.value__img {
  background-color: ;
}

.value__list {
display: flex;
}

.value__name {
 font-size: 20px;
 font-weight: 700;
 color: #243e63;
 margin: 0 0 0 12px;
}

.value__para {
  font-size: 16px;
  color: #718096;
  margin: 16px 0 0;
  line-height: 1.62;
}

.value:nth-of-type(1) {
  margin-top: 32px;
  margin-right: 32px;
}
.value:nth-of-type(2) {
  margin-top: 32px;
}

.value:nth-child(1) .value__img--wrapper {
  background-color: #9ae6b4;
}
.value:nth-child(2) .value__img--wrapper {
  background-color: #feb2b2;
}
.value__img--wrapper {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

.value__title {
  display: flex;
}

/*

Pricing

*/

.section__tag--price{
  font-size: 16px;
  color: #6415ff;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}


.price__row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


.price__para {
  font-size: 18px;
  font-weight: 600;
  color: #7c8ba1;
  text-align: center;
  line-height: 1.625;
}

.box__wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 38px;
}


.pricing__table {
  display: flex;
}

.plan {
  margin-top: 64px;
  display: flex;
  width: 100%;
  max-width: 364px;
  flex-direction: column;
  border-radius: 8px;
  background-color: rgb(255 255 255);
  padding-left: 32px;
  padding-right: 32px;
  margin-right: 32px;
  padding-top: 8px;
  text-align: center;
  color: rgb(26 32 44);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.top {
  margin: 32px 0;
}

.h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

.price {
  font-size: 48px;
  font-weight: 700;
  color:#1a202c;
  margin: 4px 0;
}

.titles {
  font-size: 20px;
  font-weight: 700;
  color: #1a202c;  
  margin: 20px;
  line-height: 2.5;
}

.time {
  margin-top: 32px;
  font-size: 16px;
  font-weight: 600;
  color: #a0aec0;
}

.traits {
  flex-direction: column;
  font-size: 16px;
  font-weight: 600;
  color: #718096;
  margin-top: 20px;
}
